<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="siteTitle">
        ScheduleMate
    </span>
</mat-toolbar>

<mat-sidenav-container class="sidenavContainer">
    
    <mat-sidenav #sidenav mode=push>
        <mat-nav-list>
            <a mat-list-item href="/home">Home</a>
            <a mat-list-item href="/employees">Medewerkers</a>
            <a mat-list-item href="/thisdoesnotexist">Page not found test</a>
        </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>